services:
  quantum-app:
    build: .
    container_name: quantum_search_tcc
    env_file:
      - .env
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - "8000:8000"
    command: uvicorn infrastructure.api.fastapi_app:app --host 0.0.0.0 --port 8000
